<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu-Driven App</title>
</head>
<body>
    <h1>Menu-Driven App</h1>
    <ul>
        {% for option, text in menu_options.items() %}
            <li><a href="{{ url_for('menu_option', selected_option=option) }}">{{ option }}</a></li>
        {% endfor %}
    </ul>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
